[submodule "external/raiden"]
	path = external/raiden
	url = https://github.com/FrontierLabs/RAIDEN.git

[submodule "external/PersonaGym"]
	path = external/PersonaGym
	url = https://github.com/vsamuel2003/PersonaGym.git
